body {
	background: var(--bg-cor);
	--bg-cor: #000000;
}

.contatomenu {
	position: absolute;
	top:28%;
	right: 0;
	width: 70%;
}

.contatocabeçalho {
	background: var(--bg-cor);
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	border: 1rem groove #34781d;
	z-index: 7;
}

#solluacontato {
	float: left;
	margin-top: 2.5rem;
	margin-left: 1rem;
	color: #34781d;
	font-size: 2rem;
}

.mudar-tema {
	cursor: pointer;
}

#btn {
	display: none;
}

.light-mode {
	--bg-cor: #FFFFFF;
}

.contatocabeçalhoimagem {
	position: relative;
	left: 15%;
	width: 7%;
	height: 6rem;
	margin: 0.5rem auto;

}

.fa-square-caret-left {
	font-size: 3.5rem;
	margin: 0 1rem 0 10rem;
}

a {
	text-decoration: none;
}

#btninicio {
	font-family: 'VT323', monospace;
	font-size: 4rem;
	color: green;
	display: inline;
}

#btninicio:hover {
	text-decoration: underline;
	cursor: pointer;
}

#btninicio:active {
	color: purple;
}

#btninicio.contatocabeçalholistaitens:active {
	color: white;
}

form {
	margin: 0 3rem;
}

.contato {
	padding-top: 8rem;
	color: green;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: linear-gradient(180deg, #34781d -30%, var(--bg-cor) 30%);
	border: 1rem groove #34781d;
	display: inline-block;
}

.contatotitulo {
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	color: green;
	font-size: 5rem;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.contatoimagem {
	float: right;
	width: 30%;
	margin: 10rem 11rem 0 0;
}

label, legend {
	display: block;
	font-size: 2rem;
	font-family: 'VT323', monospace;
	margin: 0.5rem 0 0 0;
}

input {
	font-family: 'VT323', monospace;
}

.input_contato {
	font-family: 'VT323', monospace;
	color: green;
	font-size: 2rem;
	display: block;
	width: 65%;
	background: var(--bg-cor);
}

fieldset.radioinput {
	margin-top: 2rem;
}

.enviar {
	font-family: 'VT323', monospace;
	width: 40%;
	margin: 2rem 0;
	background: var(--bg-cor);
	color: green;
	font-size: 2rem;
	cursor: pointer;
	border: 2px solid #34781d;
	border-radius: 0.5rem;
	transition: 500ms;
}

.enviar:hover {
	color: white;
	background: #34781d;
	transform: scale(1.1);
}

.mensagem-erro {
	font-family: 'VT323', monospace;
    color: red;
	font-size: 2rem;
}

.loading {
	margin-top: 3px;
	width: 23px;
	animation: spin 1s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.contatofooter {
	background: url("../imagens/fundo4.jpeg");
	text-align: center;
	border: 1rem groove #34781d;
	box-sizing: border-box;
}

.contatofooterimagem {
	width: 8%;
	right: 50%;
}

.contatocopyright {
	font-family: 'VT323', monospace;
	color: green;
	margin-bottom: 1rem;
}

.contatofootericons {
	float: right;
	margin-top: -7rem;
	margin-right: 5rem;
}

.fa-github, .fa-linkedin {
	font-size: 5rem;
	margin-left: 4rem;
	color: white;
	transition: 500ms;
}

.fa-github:hover{
	color: black;
	cursor: pointer;
}

.fa-linkedin:hover {
	color: #0077B5;
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	html, body, main, .contatocabeçalho, .contatomenu, .contato {
		min-width: min-content;
	}

	.footericons {
		margin-top: -5.75rem;
    	margin-right: 3rem;
	}

	.contatocabeçalhoimagem {
		width: auto;
	}

	.contatomenu {
		right: 13%;
	}

	.contatoimagem {
		width: 40%;
		margin: 40% 8% 0 0;
	}

	.input_contato {
		width: 100%;
	}

	.enviar {
		width: 100%;
	}

	.contatofootericons {
		margin-top: -4rem;
		margin-right: 1rem;
	}

	.fa-github, .fa-linkedin {
		font-size: 3rem;
		margin-left: 1rem;
	}
}